node_modules
dist
coverage
coverage-integration
.git
.gitignore
.env
.env.local
.env.*.local
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
.vscode
.idea
*.md
!README.md
Dockerfile
docker-compose.yml
.dockerignore
.eslintrc.js
.prettierrc
test
*.spec.ts
*.integration.spec.ts
